/*GALERIA DE IMAGENES*/
h1{
  font-size: xx-large;
}
#gallery {
  background-image: url("../resources/playa_5.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  aspect-ratio: 5 / 2;
}

#galleryCont{
  aspect-ratio: 5 / 2;
  display: grid;
  gap: 20px;
  align-items: end;
  grid-template-columns: repeat(2, 1fr);
  padding: 0% 5% 5%;
}

.info-buttons{
  display: flex;
  align-items: center;
  gap: 30px;
  width: 120%;
}

.slogan{
  display: flex;
  flex-direction: column;
}

/*SLOGAN*/
.slogan .color1 {
  color: var(--americano);
  width: 100%;
  font-size: 300%;
  text-align: end;
}

.slogan .color2 {
  color: var(--crema);
  width: 100%;
  font-size: 300%;
  text-align: end;
  text-shadow: 1px 2px 2px var(--americano);
}

/*CONTENIDO DE INICIO-------------------*/
.about{
  margin: 100px 25% 100px 25%;
  color: var(--americano);
}

/*HABITACIONES*/
.room-section{
  padding: 100px 25% 100px 25%;
  color: var(--americano);
}

.room-section > h2{
  margin-top: 50px;
}

.room-Gallery{
  display: flex;
  overflow-x: auto;
  gap: 10px;
  padding-bottom: 10px;
  justify-content: space-between;
  margin: 10px;
}

.room{
  background-color: var(--crema);
  border-radius: 15px;
  width: 500px;
  position: relative;
  flex: 0 0 auto;
}

.room-content{
  margin: 20px;
}

.over-img{
  background-size: cover;
  border-radius: 15px 15px 0 0;
  aspect-ratio: 3 / 2;
  display: flex;
  flex-direction: row;
  align-items: end;
  justify-content: space-between;
  padding: 0 20px 0 20px;
  color: white;
}

.over-img > .btn-color{
  padding: 12px;
  border: 2px solid var(--late);
  margin-bottom: 10px;
  background-color: var(--galleta);
}

.Room span{
  position: absolute;
  bottom: 5px;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 5px;
}
/*FAQ*/
.FAQ-section{
  background-color: var(--crema);
  padding: 100px 25% 100px 25%;
  color: var(--americano);
}

.FAQ-box{
  background-color: var(--galleta);
  padding: 1px 20px 0px 20px;
  margin: 10px 0 10px 0;
  border-radius: 12px;
  color: var(--crema);
}

.FAQ-box > p{
  overflow: hidden;
  max-height: 0;
  opacity: 0;
  transition: max-height 0.3s ease, opacity 0.3s ease;
}

.FAQ-box:hover{
  cursor: zoom-in;
  border: 4px solid var(--late);
  padding: 1px 16px 0px 16px;
  margin: 6px 0 6px 0;
}
.FAQ-box:hover > p{
  max-height: 200px;
  opacity: 1;
}

/*CONTACT*/
.contact-section{
  display: flex;
  flex-direction: column;
  padding: 100px 25% 100px 25%;
  background-color: var(--cafe);
  color: var(--crema);
  text-align: center;
  align-items: center;
  justify-content: center;
}

.contact-grid{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding-top: 50px;
}

.contact-item{
  justify-content: center;
  align-items: flex-start;
  text-align: center;
  width: 200px;
}

.contact-icon{
  aspect-ratio: 1 / 1;
  justify-content: center;
  align-content: flex-start;
  width: 100px;
}

/*RESPONSIVE 50%========================*/
@media (max-width: 960px) {
  /*GALERIA DE IMAGENES*/
  #galleryCont{
    aspect-ratio: 4 / 2;
    display: flex;
    gap: 20px;
    padding: 5%;
    align-items: end;
  }

  .info-buttons{
    gap: 15px;
    width: 110%;
  }

  .info-buttons > .btn-color, .info-buttons > .btn-ghost{
    font-size: 90%;
  }

  /*SLOGAN*/
  .slogan .color1 {
    font-size: 150%;
  }

  .slogan .color2 {
    font-size: 150%;
  }

  /*CONTENIDO DE INICIO-------------------*/
  .about{
    margin: 50px 15% 50px 15%;
  }

  .room-section{
    padding: 50px 15% 50px 15%;
  }

  /*FAQ*/
  .FAQ-section{
    padding: 50px 15% 50px 15%;
  }
}

/*RESPONSIVE 30%========================*/
@media (max-width: 600px) {
  /*GALERIA DE IMAGENES*/
  #galleryCont{
    aspect-ratio: 3 / 2;
    display: flex;
    gap: 20px;
    padding: 5%;
    align-items: end;
    justify-content: center;
  }

  .info-buttons{
    gap: 10px;
    width: 100%;
    flex-direction: column;
    align-items: start;
  }

  .info-buttons > .btn-color, .info-buttons > .btn-ghost{
    font-size: 90%;
  }

  /*SLOGAN*/
  .slogan .color1 {
    font-size: 150%;
  }

  .slogan .color2 {
    font-size: 150%;
  }
  /*CONTENIDO DE INICIO-------------------*/
  .about{
    margin: 30px 10% 30px 10%;
  }

  /*HABITACIONES*/
  .room-section{
    padding: 30px 10% 30px 10%;
  }

  .room-section > h2{
    margin-top: 30px;
  }

  .room{
    background-color: var(--crema);
    border-radius: 15px;
    width: 350px;
    position: relative;
    flex: 0 0 auto;
    font-size: small;
  }

  .over-img > .btn-color{
    padding: 8px;
    border: 2px solid var(--late);
    margin-bottom: 10px;
    background-color: var(--galleta);
    font-size: 100%;
  }

  /*FAQ*/
  .FAQ-section{
    padding: 50px 10% 30px 10%;
  }

  .FAQ-box{
    background-color: var(--galleta);
    padding: 1px 10px 0px 10px;
    margin: 5px 0 5px 0;
    border-radius: 12px;
    color: var(--crema);
  }

  .FAQ-box > h2{
    font-size: large;
  }

  .FAQ-box > p{
    overflow: hidden;
    font-size: small;
    max-height: 0;
    opacity: 0;
    transition: max-height 0.3s ease, opacity 0.3s ease;
  }
  /*CONTACT*/
  .contact-section{
    padding: 30px 10% 30px 10%;
    justify-content: center;
  }

  .contact-grid{
    grid-template-columns: repeat(2, 1fr);
    padding-top: 30px;
  }
}