@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/*PALETA DE COLORES*/
:root{
    --ghost: #00000020;/*Transparente*/
    --crema: #ebddcd;
    --late: #ddb576;
    --cafe: #a97452;
    --galleta: #786a5c;
    --chocolate: #453d2a;
    --americano: #322c1e;
}

.division{
    height: 50px;
    width: 100%;
    background-color: var(--galleta);
}
.ICON{
    background-image: url("../resources/hotel_novillero.png");
    width: 10%;
    height: 50px;
}
.btn-menu, .btn-menu.activo, .btn-ghost, .btn-color{
    cursor: pointer;
}

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
}

.menu{
    background-color: var(white);
    font-weight: bold;
    height: 7vh;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    gap: 5%;
    z-index: 9999;

    position: sticky;
    top: 0;
    transition: all 0.3s ease;
}

.menu.glass{
    background-color: #ffffff80;
    backdrop-filter: blur(5px);
    box-shadow: 0 2px 8px #00000033;
}

.menu:hover{
    background-color: white;
    color: white;
    font-weight: bold;
    height: 9vh;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.btn-menu{
    padding: 10px;
    width: auto;
    font-size: large;
    font-weight: bold;
    text-align: center;
    background-color: rgba(255, 255, 255, 0);
    color: var(--chocolate);
    border: 0;
    border-radius: 50px;
}

.btn-menu:hover, .btn-menu.activo:hover{
    cursor: pointer;
    background-color: var(--galleta);
    color: var(--crema);
}

.btn-menu.activo {
  color: var(--chocolate);
  border: solid 3px var(--late);
  font-weight: bold;
  padding: 7px;
}


/*BOTONES*/
.btn-color{
    background-color: var(--cafe);
    border: 0px solid var(--late);
    padding: 17px;
    border-radius: 100px;
    color: var(--crema);
    font-weight: bold;
    box-shadow: 0 2px 8px #00000033;
    font-size: medium;
}
.btn-ghost{
    background-color: var(--ghost);
    backdrop-filter: blur(3px);
    border: 2px solid #ffffff50;
    padding: 15px;
    border-radius: 100px;
    color: white;
    box-shadow: 0 2px 8px #00000033;
    font-size: medium;
}

/*RESPONSIVE 30%========================*/
@media (max-width: 600px) {
    h1{
        font-size: x-large;
    }
    h2{
        font-size: large;
    }
    h3{
        font-size: medium;
    }
    p{
        font-size: small;
    }

    .menu{
        gap: 1%;
    }

    .menu.glass{
        background-color: #ffffff80;
        backdrop-filter: blur(5px);
        box-shadow: 0 2px 8px #00000033;
    }

    .btn-menu{
        font-size: medium;
    }

    .btn-menu.activo {
        color: var(--chocolate);
        border: solid 3px var(--late);
        font-weight: bold;
        padding: 7px;
    }
}